/* Commande Typographie */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
h1, h2, h3, h4, h5{
    font-family: "Chewy", system-ui;
}

p{
   font-family: "Nunito", sans-serif; 
}





/* Commande Couleur */
/* Header + Footer : #5784BA
#F4CFDF (rose pale)
#B6D8F2 (bleu ciel)
#F7F6CF (jaune pastel */



/* Commande Width */




/* Commande Height */




/* Commande Margin */




/* Commande Padding */




/* Commande Custom */
.bg-envoi{
    background-color: #5784BA!important;
}